.header{
min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)), url("../images/PALM.jpg"); 


    background-position: center;
    background-size: cover;
        position: center;
}


.LOGO{
    width: 2px;
    height: 2px%;
    
}



/*
* {
    margin: 0;
    padding: 0;
    position: relative;

}

*/
















































